
	<h1 align="center">Greetings, {{vm.currentUserLocal.userName}}!</h1>

	<p class="podnaslov">Tournaments news:</p>

	<p>Next tournament will start on Sunday, be ready!</p>





	<!-- UserName: {{vm.currentUser.userName}}
	<br>
	Password: {{vm.currentUser.password}}
	<br><br>
	UserNameLocal: {{vm.currentUserLocal.userName}}
	<br>
	PasswordLocal: {{vm.currentUserLocal.password}}
	<button type="button" ng-click="vm.login()">Login</button>
	<br><br>
	<p>If you don't have account <button type="button" ng-click="vm.register()">Register for free!</button></p> -->
	
		
		
