<h1 align="center">Table</h1>
<br>
<div ng-if="vm.noGame">
	<h3>You have to first: <a ui-sref="challengePlayer">challenge a player</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp or <a ui-sref="challenges">accept the challenge</a></p>
</div>
<div ng-if="!vm.noGame">
	
	<!-- <div ng-attr-id="{{vm.gameId}}">
	 <p>U zavisnosti od id-a {{vm.gameId}}</p> -->
	

	 <table id="tictac">
	 	
	 		<tr>
	 			<th style="text-align:left">{{vm.player1}}</th>
	 			<th style="text-align:center">VS</th>
	 			<th style="text-align:right">{{vm.player2}}</th>
	 		</tr>
	 		<tr>
	 			
	 		</tr>
	 	
	 	<tbody>
			<tr><td id="c1" ng-click="vm.kliknuo('c1')"></td><td id="c2" ng-click="vm.kliknuo('c2')"></td><td id="c3" ng-click="vm.kliknuo('c3')"></td></tr>
			<tr><td id="c4" ng-click="vm.kliknuo('c4')"></td><td id="c5" ng-click="vm.kliknuo('c5')"></td><td id="c6" ng-click="vm.kliknuo('c6')"></td></tr>
			<tr><td id="c7" ng-click="vm.kliknuo('c7')"></td><td id="c8" ng-click="vm.kliknuo('c8')"></td><td id="c9" ng-click="vm.kliknuo('c9')"></td></tr>
		</tbody>
	</table>
	{{vm.message}}
	<br><br>
	<p>Note: Leaving table will be counted as Lose!</p>

	<!-- </div> -->
</div>