.header {
	/*800 bez right menu*/
	width: 1100px;
	height: 80px;
	text-align: center;
	background-color: #BDBDBD;
}

.footer {
	background-color: #BDBDBD;
	text-align: center;
}

.leftMenu {
	height: 500px;
	background-color: #BDBDBD;
	/*bilo 150px*/
	width: 130px;
	text-align: center;
}

.mainContent {
	height: 500px;
	background-color: #E6E6E6;
	width: 650px;
}
.rightMenu {
	height: 500px;
	background: #EEEEEE;
	width: 300px;
}

a {
	display: block;
	padding: 5px;
}

/*.table {
	width: 100%;
	max-width: 100%;
}*/

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  
}

.podnaslov {
	font-size: 19px;
	margin-left: 30px;
}

.chat-window {

}

.user-window {
	
}

table#tictac td {
    width: 2.0em;
    height: 2.0em;
    text-align: center;
    vertical-align: middle;
    font: bold 36px sans-serif;
}

td#c1, td#c2, td#c3, td#c4, td#c5, td#c6 {
    border-bottom: 6px solid #930;
}

td#c1, td#c2, td#c4, td#c5, td#c7, td#c8 {
    border-right: 6px solid #930;
}

.yellowstyle {background-color: yellow; color: red;}
.lightbluestyle {}

img.bg {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
		}
		
@media screen and (max-width: 1024px){
			img.bg {
				left: 50%;
				margin-left: -512px; }
		}
/*width moram da smanjim na barem 600*/
#page-wrap { position: relative; width: 1100px; margin: 30px auto;  background: none; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
/*p { font: 15px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 40px; }*/

@media (min-width: 650px) {
  .container {
    width: 650px;
  }
}
@media (min-width: 650px) {
  .container {
    width: 650px;
  }
}
@media (min-width: 650px) {
  .container {
    width: 650px;
  }
}